
.sobre {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    list-style: none;

}

.sobre li {
    margin-bottom: 1rem;
    text-align: justify;
    line-height: 1.5;
}



